<div class="container">
    <div class="row">
        <div class="screen">
            <div (click)="selectBox(box)" *ngFor="let box of boxList" class="box"
                [ngClass]="{'box-active':activeBox && box.boxNumber === activeBox.boxNumber}" [ngStyle]="box.style">
                {{box.boxNumber}}
            </div>
        </div>
    </div>
    <div class="row row-content-center">
        <button class="box-action btn btn-info" (click)="addNewBox()">
            Add Box
        </button>
        <button class="box-action btn btn-danger" *ngIf="activeBox" (click)="deleteActiveBox()">
            Delete Box
        </button>
    </div>
</div>